<section>
        <div>
            <h3>{{itinerary.itinerary_name}}</h3>
            <p>{{itinerary.description}}</p>
        </div>
    <form id="itinerary form">
    </form>
</section>
<script src="/js/itinerary.js"></script>