<section>
    <form id="itinerary form">
        <input type="text" placeholder="name" id="name-element">
        <input type="text" placeholder="description" id="description-element">
        <button id="itinerary-submit">submit</button>
    </form>
</section>
<script src="/js/itinerary.js"></script>